@use 'sass:math';
@import '../../styles/settings.scss';

.favoriteSubpage {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;

  p {
    margin-bottom: 40px;
  }

  ul {
    flex-shrink: 0;
    width: calc(33% - 12px);
    background: $color-light;
    margin: 0 $base-size $base-size 0;
    padding: ($base-size * 1.5);
    border-radius: $radius;
    box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
    color: $color-dark;

    &:last-child {
      margin: 0 0 $base-size 0;
    }
  }
}
