@import '../../styles/settings.scss';

nav {
  background-color: darken($color-dark, 3%);
}

.navInner {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

li {
  display: inline-block;
  font-size: 1rem;
}

a {
  position: relative;
  color: $color-light;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
}

i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.linkActive {
  color: $color-warning;
}
